* {
    border: none;
    border-radius: 0;
    font-family: CommitMono Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #2e3440;
    color: #eceff4;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #eceff4;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: #434C5E;
    box-shadow: inherit;
    border-bottom: 3px solid #ECEFF4;
}

#workspaces button.focused {
    background-color: #4C566A;
    border-bottom: 3px solid #eceff4;
}

#workspaces button.urgent {
    background-color: #d08770;
}

#mode,
#clock,
#battery,
#pulseaudio,
#backlight,
#network {
    padding: 0 10px;
    margin: 0 4px;
    color: #eceff4;
}

@keyframes blink {
    to {
        color: #eceff4;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}